.gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(50% 108% at 50% 0, #ecfbff 5%, #a8b8e6 35%, #b0b0d2 62%, transparent 100%);
    background-color: #424252;
}

.gradient-text-purple {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-image: radial-gradient(50% 108% at 50% 0, #30d4ff 5%, #e6a8a8 35%, #2d2def 62%, transparent 100%);
    background-color: #ab48bc;
}

.color-light {
    color: $white;
}
.d-flex {
    display: flex;
}

.text-light {
    color: $white;
}

.text-center {
    text-align: center;
}

.btn-grad {
    background-image: linear-gradient(to right, #6484ef 0%, #0a09f3 51%, #4568dc 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;

    // transition: all 0.5s ease;
    background-size: 200% auto;
    color: white;
    // box-shadow: 0 0 20px #2e2e2e;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
}

.element-3d {
    width: 40vw;
    height: 609px;
    // position: absolute;
    top: 150px;
    margin-right: 0;
    z-index: 20;

    @include responsive(600px) {
        width: 90vw;
    }
}

.s-inovatech {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/40.jpg);
    background-size: cover;

    p {
        padding-top: 150px;
        margin-bottom: 20px;
    }

    .sociais {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        svg {
            color: $white;

            padding: 8px;
            border: 1px solid rgb(195, 195, 195);
            border-radius: 100px;
        }
    }

    .btn-footer {
        display: flex; /* Adicione esta linha */
        align-items: center;
        justify-content: center;
        height: 50px;
        margin: 40px auto 0; /* Centraliza horizontalmente e define margem superior */
        border: 1px solid $white;
        width:280px;
        color: $white;
        font-size: 1.6rem;

        margin: 0 auto;

        margin-top: 40px;
        border: 1px solid $white;
    }

    a {
        background-color: rgba(248, 248, 248, 0.2);
        border-radius: 100px;
        &:hover {
            background-color: rgba(248, 248, 248, 0.4);
        }
    }

    p {
        font-size: 2rem;
        color: $white;
    }

    h2 {
        padding-top: 150px;
        font-size: 30rem;
        color: white;

        white-space: nowrap;
        animation: marquee 10s linear infinite;
        margin-bottom: -60px;
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    /* Aplica apenas em dispositivos móveis */
    @media (max-width: 768px) {
        h2 {
            font-size: 10rem; /* Ajusta o tamanho do texto para o mobile */
            margin-bottom: -20px;
        }
    }
}
